################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Leetcode/.vs/ProjectSettings.json
/.vs/C_Sharp_Garage/v15
/Leetcode/.vs
/.vs
